/* work sans fonts from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    color: white;
    border: 0;
    cursor: pointer;
}

/* Header styles */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 60px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 2.6rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}

/* banner styles */

.banner-content {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-desc {
  color: #131313;
}
.banner img{ 
  margin-top: 20px;
  width: 100%;
}

/* Responsive with media queries */
@media screen and (max-width: 576px) {
  header{
    padding: 20px;
  }
  nav{
    flex-direction: column;
  }
  .banner-content{
    width: 100%;
  }
}

/* medium devices like tablet */
@media screen and (min-width:576px) and (max-width: 960px) {
  header{
    padding: 50px;
  }
  nav{
    flex-direction: column;
  }
  .banner-content{
    width: 100%;
  }
}

/* Main section styles */
main{
  max-width: 1440px;
  margin: 0 auto;
}

/* team features styles */
.team-container{
  display: flex;
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-content{
  padding-left: 70px;
  padding-right: 70px;

}
.team-title{
  font-size: 2.8rem;
}
.team-title, .quick-list{
  color: #727272;
  font-weight: 500;
}
.team-title, .title-feat{
  color: #FF900E;
  font-weight: 700;
}